<%# locals: (feature_tag:, feature_subscriptions:) %>

<section class="mt-6">
  <div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th><abbr title="Feature Taggable Type">Taggable Type</abbr></th>
          <th><abbr title="Feature Taggable ID">Taggable ID</abbr></th>
          <th class="has-text-right"><abbr title="Available Actions">Actions</abbr></th>
        </tr>
      </thead>
      <tbody>
        <% feature_subscriptions.each do |feature_subscription| %>
          <%= render 'pin_flags/feature_tags/feature_subscriptions/feature_subscriptions_table_row', feature_tag: feature_tag, feature_subscription: feature_subscription %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><abbr title="Feature Taggable Type">Taggable Type</abbr></td>
          <td><abbr title="Feature Taggable ID">Taggable ID</abbr></td>
          <td class="has-text-right"><abbr title="Available Actions">Actions</abbr></td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
