<%# locals: (feature_tag:, feature_subscriptions:) %>

<section class="mt-6">
  <div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th><abbr title="Feature Taggable Type">Taggable Type</abbr></th>
          <th><abbr title="Feature Taggable ID">Taggable ID</abbr></th>
          <th><abbr title="Available Actions">Actions</abbr></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'pin_flags/feature_tags/feature_subscriptions/feature_subscriptions_table_row',
                   collection: feature_subscriptions,
                   as: :feature_subscription,
                   locals: { feature_tag: feature_tag } %>
      </tbody>
      <tfoot>
        <tr>
          <td><abbr title="Feature Taggable Type">Taggable Type</abbr></td>
          <td><abbr title="Feature Taggable ID">Taggable ID</abbr></td>
          <td><abbr title="Available Actions">Actions</abbr></td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
