<%# locals: (filter_param: nil, enabled_param: nil, subscriptions_param: nil) %>

<div class="has-text-centered mt-6">
  <p class="has-text-weight-semibold is-size-4">
    <%= "No feature tags #{(filter_param.present? || enabled_param.present? || subscriptions_param.present?) ? 'found' : 'created yet'}." %>
  </p>
</div>