<% flash.each do |type, message| %>
  <div class="notification <%= flash_class(type) %> is-light">
    <button class="delete" onclick="this.parentElement.remove()"></button>
    <%= message %>
  </div>
<% end %>