name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.4.4
          bundler-cache: false

      - name: Install dependencies
        run: |
          bundle config set frozen false
          bundle install

      - name: Lint code for consistent style
        run: bundle exec rubocop -f github

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.4.4
          bundler-cache: false

      - name: Install dependencies
        run: |
          bundle config set frozen false
          bundle install

      - name: Run tests
        env:
          RAILS_ENV: test
        run: bundle exec rails test
